

/* ----- */
.App {
    width: 315px;
    margin: 0 auto;
    background-color: rgb(33, 33, 33);
    min-height: 100vh;
    border: 1px solid rgb(53, 53, 53);
}

.brand {
    text-align: center;
    font-size: 24px;
    padding: 5px 0;
    
   
}

.nav {
    border-top: 1px solid rgb(255, 133, 2);
    border-bottom: 1px solid rgb(255, 133, 2);
    display: flex;
}

.nav-item {
    display: inline-block;
    flex: 1 auto;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    font-size: 16px;
}

.nav-item:not(:last-child) {
    border-right: 1px solid rgb(255, 166, 2);
}

.nav-item:hover {
    color: rgb(255, 188, 2);
}

.section {
    padding: 30px;
}

.section i {
    color: rgb(236, 244, 6);;
}

.section-title {
    margin: 0;
    font-size: 22px;
    color: rgb(255, 166, 2);
}

.section-description {
    line-height: 27px;
    font-size: 16px;
}

.section-description a {
    color: white;
    text-decoration: none;
}

.section-description a:hover {
    color: rgb(207, 191, 17);
}

.section-description img {
    width: 260px;
    height: 190px;
}

.article-title {
    margin-bottom: 0;
}

.article-time {
    color: rgb(185, 185, 185);
    margin: 0;
    
}

.article {
    margin-top: 0;
    font-size: 20px;
    color: rgb(207, 191, 17);
}