body {
    margin: 30px;
    line-height: 30px;
}

nav {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
  }

nav ul a {
    text-decoration: none;
    color: rgb(6, 244, 192);
    
}

nav ul a:hover {
    color: white;
}

section ul {
    color: white;
}

h1 {
    color: rgb(255, 196, 0);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

img {
    width: 400px;
    height: auto;
    
}

i {
    color: rgb(0, 255, 30);
}